.jumbotron {
    background-color: rgb(24, 1, 36);
    color: white;
    text-align: center;
    font-family: 'Mukta', sans-serif;
}
.basicInfo {
    font-size: 25px;
}
.aboutMe {
    font-size: 25px;
}
.card1 {
    background-color: black;
    color: white;
    border: none;
}
.btn1 {
    background-color: white;
    color: black;
}